<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="ActiMetrics"
           Version="1.0.0"
           Manufacturer="GoXpert SAS"
           UpgradeCode="f70508f8-1cd1-4705-a772-0bf8acf9aa7d"
           Scope="perMachine"
           InstallerVersion="500">

    <MajorUpgrade DowngradeErrorMessage="Ya existe una versión más nueva instalada." />
    <MediaTemplate EmbedCab="yes" />

    <InstallExecuteSequence>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="ActiMetrics" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="StartupRegistry" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="ActiMetrics" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="StartupRegistry" Directory="INSTALLFOLDER">
      <RegistryValue Root="HKLM"
                     Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
                     Name="ActiMetrics"
                     Value="[INSTALLFOLDER]ActiMetrics.exe"
                     Type="string"
                     KeyPath="yes" />
    </Component>
  </Fragment>

</Wix>