<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Comp_0">
        <File Id="File_0" Source="./publish/Accessibility.dll" />
      </Component>
      <Component Id="Comp_1">
        <File Id="File_1" Source="./publish/ActiMetrics.Data.dll" />
      </Component>
      <Component Id="Comp_2">
        <File Id="File_2" Source="./publish/ActiMetrics.Data.pdb" />
      </Component>
      <Component Id="Comp_3">
        <File Id="File_3" Source="./publish/ActiMetrics.deps.json" />
      </Component>
      <Component Id="Comp_4">
        <File Id="File_4" Source="./publish/ActiMetrics.dll" />
      </Component>
      <Component Id="Comp_5">
        <File Id="File_5" Source="./publish/ActiMetrics.exe" />
      </Component>
      <Component Id="Comp_6">
        <File Id="File_6" Source="./publish/ActiMetrics.pdb" />
      </Component>
      <Component Id="Comp_7">
        <File Id="File_7" Source="./publish/ActiMetrics.runtimeconfig.json" />
      </Component>
      <Component Id="Comp_8">
        <File Id="File_8" Source="./publish/ActiMetrics.Service.dll" />
      </Component>
      <Component Id="Comp_9">
        <File Id="File_9" Source="./publish/ActiMetrics.Service.pdb" />
      </Component>
      <Component Id="Comp_10">
        <File Id="File_10" Source="./publish/ActiMetrics.Shared.dll" />
      </Component>
      <Component Id="Comp_11">
        <File Id="File_11" Source="./publish/ActiMetrics.Shared.pdb" />
      </Component>
      <Component Id="Comp_12">
        <File Id="File_12" Source="./publish/appsettings.Development.json" />
      </Component>
      <Component Id="Comp_13">
        <File Id="File_13" Source="./publish/appsettings.json" />
      </Component>
      <Component Id="Comp_14">
        <File Id="File_14" Source="./publish/clretwrc.dll" />
      </Component>
      <Component Id="Comp_15">
        <File Id="File_15" Source="./publish/clrgc.dll" />
      </Component>
      <Component Id="Comp_16">
        <File Id="File_16" Source="./publish/clrgcexp.dll" />
      </Component>
      <Component Id="Comp_17">
        <File Id="File_17" Source="./publish/clrjit.dll" />
      </Component>
      <Component Id="Comp_18">
        <File Id="File_18" Source="./publish/coreclr.dll" />
      </Component>
      <Component Id="Comp_19">
        <File Id="File_19" Source="./publish/createdump.exe" />
      </Component>
      <Component Id="Comp_20">
        <File Id="File_20" Source="./publish/Dapper.dll" />
      </Component>
      <Component Id="Comp_21">
        <File Id="File_21" Source="./publish/e_sqlite3.dll" />
      </Component>
      <Component Id="Comp_22">
        <File Id="File_22" Source="./publish/hostfxr.dll" />
      </Component>
      <Component Id="Comp_23">
        <File Id="File_23" Source="./publish/hostpolicy.dll" />
      </Component>
      <Component Id="Comp_24">
        <File Id="File_24" Source="./publish/Microsoft.CSharp.dll" />
      </Component>
      <Component Id="Comp_25">
        <File Id="File_25" Source="./publish/Microsoft.Data.Sqlite.dll" />
      </Component>
      <Component Id="Comp_26">
        <File Id="File_26" Source="./publish/Microsoft.DiaSymReader.Native.amd64.dll" />
      </Component>
      <Component Id="Comp_27">
        <File Id="File_27" Source="./publish/Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="Comp_28">
        <File Id="File_28" Source="./publish/Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="Comp_29">
        <File Id="File_29" Source="./publish/Microsoft.Extensions.Configuration.CommandLine.dll" />
      </Component>
      <Component Id="Comp_30">
        <File Id="File_30" Source="./publish/Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="Comp_31">
        <File Id="File_31" Source="./publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
      </Component>
      <Component Id="Comp_32">
        <File Id="File_32" Source="./publish/Microsoft.Extensions.Configuration.FileExtensions.dll" />
      </Component>
      <Component Id="Comp_33">
        <File Id="File_33" Source="./publish/Microsoft.Extensions.Configuration.Json.dll" />
      </Component>
      <Component Id="Comp_34">
        <File Id="File_34" Source="./publish/Microsoft.Extensions.Configuration.UserSecrets.dll" />
      </Component>
      <Component Id="Comp_35">
        <File Id="File_35" Source="./publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="Comp_36">
        <File Id="File_36" Source="./publish/Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="Comp_37">
        <File Id="File_37" Source="./publish/Microsoft.Extensions.Diagnostics.Abstractions.dll" />
      </Component>
      <Component Id="Comp_38">
        <File Id="File_38" Source="./publish/Microsoft.Extensions.Diagnostics.dll" />
      </Component>
      <Component Id="Comp_39">
        <File Id="File_39" Source="./publish/Microsoft.Extensions.FileProviders.Abstractions.dll" />
      </Component>
      <Component Id="Comp_40">
        <File Id="File_40" Source="./publish/Microsoft.Extensions.FileProviders.Physical.dll" />
      </Component>
      <Component Id="Comp_41">
        <File Id="File_41" Source="./publish/Microsoft.Extensions.FileSystemGlobbing.dll" />
      </Component>
      <Component Id="Comp_42">
        <File Id="File_42" Source="./publish/Microsoft.Extensions.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="Comp_43">
        <File Id="File_43" Source="./publish/Microsoft.Extensions.Hosting.dll" />
      </Component>
      <Component Id="Comp_44">
        <File Id="File_44" Source="./publish/Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="Comp_45">
        <File Id="File_45" Source="./publish/Microsoft.Extensions.Logging.Configuration.dll" />
      </Component>
      <Component Id="Comp_46">
        <File Id="File_46" Source="./publish/Microsoft.Extensions.Logging.Console.dll" />
      </Component>
      <Component Id="Comp_47">
        <File Id="File_47" Source="./publish/Microsoft.Extensions.Logging.Debug.dll" />
      </Component>
      <Component Id="Comp_48">
        <File Id="File_48" Source="./publish/Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="Comp_49">
        <File Id="File_49" Source="./publish/Microsoft.Extensions.Logging.EventLog.dll" />
      </Component>
      <Component Id="Comp_50">
        <File Id="File_50" Source="./publish/Microsoft.Extensions.Logging.EventSource.dll" />
      </Component>
      <Component Id="Comp_51">
        <File Id="File_51" Source="./publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
      </Component>
      <Component Id="Comp_52">
        <File Id="File_52" Source="./publish/Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="Comp_53">
        <File Id="File_53" Source="./publish/Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="Comp_54">
        <File Id="File_54" Source="./publish/Microsoft.IdentityModel.Abstractions.dll" />
      </Component>
      <Component Id="Comp_55">
        <File Id="File_55" Source="./publish/Microsoft.IdentityModel.JsonWebTokens.dll" />
      </Component>
      <Component Id="Comp_56">
        <File Id="File_56" Source="./publish/Microsoft.IdentityModel.Logging.dll" />
      </Component>
      <Component Id="Comp_57">
        <File Id="File_57" Source="./publish/Microsoft.IdentityModel.Tokens.dll" />
      </Component>
      <Component Id="Comp_58">
        <File Id="File_58" Source="./publish/Microsoft.VisualBasic.Core.dll" />
      </Component>
      <Component Id="Comp_59">
        <File Id="File_59" Source="./publish/Microsoft.VisualBasic.dll" />
      </Component>
      <Component Id="Comp_60">
        <File Id="File_60" Source="./publish/Microsoft.VisualBasic.Forms.dll" />
      </Component>
      <Component Id="Comp_61">
        <File Id="File_61" Source="./publish/Microsoft.Win32.Primitives.dll" />
      </Component>
      <Component Id="Comp_62">
        <File Id="File_62" Source="./publish/Microsoft.Win32.Registry.AccessControl.dll" />
      </Component>
      <Component Id="Comp_63">
        <File Id="File_63" Source="./publish/Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="Comp_64">
        <File Id="File_64" Source="./publish/Microsoft.Win32.SystemEvents.dll" />
      </Component>
      <Component Id="Comp_65">
        <File Id="File_65" Source="./publish/mscordaccore_amd64_amd64_10.0.326.7603.dll" />
      </Component>
      <Component Id="Comp_66">
        <File Id="File_66" Source="./publish/mscordaccore.dll" />
      </Component>
      <Component Id="Comp_67">
        <File Id="File_67" Source="./publish/mscordbi.dll" />
      </Component>
      <Component Id="Comp_68">
        <File Id="File_68" Source="./publish/mscorlib.dll" />
      </Component>
      <Component Id="Comp_69">
        <File Id="File_69" Source="./publish/mscorrc.dll" />
      </Component>
      <Component Id="Comp_70">
        <File Id="File_70" Source="./publish/msquic.dll" />
      </Component>
      <Component Id="Comp_71">
        <File Id="File_71" Source="./publish/netstandard.dll" />
      </Component>
      <Component Id="Comp_72">
        <File Id="File_72" Source="./publish/NuGet.Versioning.dll" />
      </Component>
      <Component Id="Comp_73">
        <File Id="File_73" Source="./publish/Serilog.dll" />
      </Component>
      <Component Id="Comp_74">
        <File Id="File_74" Source="./publish/Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="Comp_75">
        <File Id="File_75" Source="./publish/Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="Comp_76">
        <File Id="File_76" Source="./publish/Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="Comp_77">
        <File Id="File_77" Source="./publish/SQLitePCLRaw.batteries_v2.dll" />
      </Component>
      <Component Id="Comp_78">
        <File Id="File_78" Source="./publish/SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="Comp_79">
        <File Id="File_79" Source="./publish/SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>
      <Component Id="Comp_80">
        <File Id="File_80" Source="./publish/System.AppContext.dll" />
      </Component>
      <Component Id="Comp_81">
        <File Id="File_81" Source="./publish/System.Buffers.dll" />
      </Component>
      <Component Id="Comp_82">
        <File Id="File_82" Source="./publish/System.CodeDom.dll" />
      </Component>
      <Component Id="Comp_83">
        <File Id="File_83" Source="./publish/System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="Comp_84">
        <File Id="File_84" Source="./publish/System.Collections.dll" />
      </Component>
      <Component Id="Comp_85">
        <File Id="File_85" Source="./publish/System.Collections.Immutable.dll" />
      </Component>
      <Component Id="Comp_86">
        <File Id="File_86" Source="./publish/System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="Comp_87">
        <File Id="File_87" Source="./publish/System.Collections.Specialized.dll" />
      </Component>
      <Component Id="Comp_88">
        <File Id="File_88" Source="./publish/System.ComponentModel.Annotations.dll" />
      </Component>
      <Component Id="Comp_89">
        <File Id="File_89" Source="./publish/System.ComponentModel.DataAnnotations.dll" />
      </Component>
      <Component Id="Comp_90">
        <File Id="File_90" Source="./publish/System.ComponentModel.dll" />
      </Component>
      <Component Id="Comp_91">
        <File Id="File_91" Source="./publish/System.ComponentModel.EventBasedAsync.dll" />
      </Component>
      <Component Id="Comp_92">
        <File Id="File_92" Source="./publish/System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="Comp_93">
        <File Id="File_93" Source="./publish/System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="Comp_94">
        <File Id="File_94" Source="./publish/System.Configuration.ConfigurationManager.dll" />
      </Component>
      <Component Id="Comp_95">
        <File Id="File_95" Source="./publish/System.Configuration.dll" />
      </Component>
      <Component Id="Comp_96">
        <File Id="File_96" Source="./publish/System.Console.dll" />
      </Component>
      <Component Id="Comp_97">
        <File Id="File_97" Source="./publish/System.Core.dll" />
      </Component>
      <Component Id="Comp_98">
        <File Id="File_98" Source="./publish/System.Data.Common.dll" />
      </Component>
      <Component Id="Comp_99">
        <File Id="File_99" Source="./publish/System.Data.DataSetExtensions.dll" />
      </Component>
      <Component Id="Comp_100">
        <File Id="File_100" Source="./publish/System.Data.dll" />
      </Component>
      <Component Id="Comp_101">
        <File Id="File_101" Source="./publish/System.Design.dll" />
      </Component>
      <Component Id="Comp_102">
        <File Id="File_102" Source="./publish/System.Diagnostics.Contracts.dll" />
      </Component>
      <Component Id="Comp_103">
        <File Id="File_103" Source="./publish/System.Diagnostics.Debug.dll" />
      </Component>
      <Component Id="Comp_104">
        <File Id="File_104" Source="./publish/System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="Comp_105">
        <File Id="File_105" Source="./publish/System.Diagnostics.EventLog.dll" />
      </Component>
      <Component Id="Comp_106">
        <File Id="File_106" Source="./publish/System.Diagnostics.EventLog.Messages.dll" />
      </Component>
      <Component Id="Comp_107">
        <File Id="File_107" Source="./publish/System.Diagnostics.FileVersionInfo.dll" />
      </Component>
      <Component Id="Comp_108">
        <File Id="File_108" Source="./publish/System.Diagnostics.PerformanceCounter.dll" />
      </Component>
      <Component Id="Comp_109">
        <File Id="File_109" Source="./publish/System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="Comp_110">
        <File Id="File_110" Source="./publish/System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="Comp_111">
        <File Id="File_111" Source="./publish/System.Diagnostics.TextWriterTraceListener.dll" />
      </Component>
      <Component Id="Comp_112">
        <File Id="File_112" Source="./publish/System.Diagnostics.Tools.dll" />
      </Component>
      <Component Id="Comp_113">
        <File Id="File_113" Source="./publish/System.Diagnostics.TraceSource.dll" />
      </Component>
      <Component Id="Comp_114">
        <File Id="File_114" Source="./publish/System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="Comp_115">
        <File Id="File_115" Source="./publish/System.DirectoryServices.AccountManagement.dll" />
      </Component>
      <Component Id="Comp_116">
        <File Id="File_116" Source="./publish/System.DirectoryServices.dll" />
      </Component>
      <Component Id="Comp_117">
        <File Id="File_117" Source="./publish/System.DirectoryServices.Protocols.dll" />
      </Component>
      <Component Id="Comp_118">
        <File Id="File_118" Source="./publish/System.dll" />
      </Component>
      <Component Id="Comp_119">
        <File Id="File_119" Source="./publish/System.Drawing.Common.dll" />
      </Component>
      <Component Id="Comp_120">
        <File Id="File_120" Source="./publish/System.Drawing.Design.dll" />
      </Component>
      <Component Id="Comp_121">
        <File Id="File_121" Source="./publish/System.Drawing.dll" />
      </Component>
      <Component Id="Comp_122">
        <File Id="File_122" Source="./publish/System.Drawing.Primitives.dll" />
      </Component>
      <Component Id="Comp_123">
        <File Id="File_123" Source="./publish/System.Dynamic.Runtime.dll" />
      </Component>
      <Component Id="Comp_124">
        <File Id="File_124" Source="./publish/System.Formats.Asn1.dll" />
      </Component>
      <Component Id="Comp_125">
        <File Id="File_125" Source="./publish/System.Formats.Nrbf.dll" />
      </Component>
      <Component Id="Comp_126">
        <File Id="File_126" Source="./publish/System.Formats.Tar.dll" />
      </Component>
      <Component Id="Comp_127">
        <File Id="File_127" Source="./publish/System.Globalization.Calendars.dll" />
      </Component>
      <Component Id="Comp_128">
        <File Id="File_128" Source="./publish/System.Globalization.dll" />
      </Component>
      <Component Id="Comp_129">
        <File Id="File_129" Source="./publish/System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="Comp_130">
        <File Id="File_130" Source="./publish/System.IdentityModel.Tokens.Jwt.dll" />
      </Component>
      <Component Id="Comp_131">
        <File Id="File_131" Source="./publish/System.IO.Compression.Brotli.dll" />
      </Component>
      <Component Id="Comp_132">
        <File Id="File_132" Source="./publish/System.IO.Compression.dll" />
      </Component>
      <Component Id="Comp_133">
        <File Id="File_133" Source="./publish/System.IO.Compression.FileSystem.dll" />
      </Component>
      <Component Id="Comp_134">
        <File Id="File_134" Source="./publish/System.IO.Compression.Native.dll" />
      </Component>
      <Component Id="Comp_135">
        <File Id="File_135" Source="./publish/System.IO.Compression.ZipFile.dll" />
      </Component>
      <Component Id="Comp_136">
        <File Id="File_136" Source="./publish/System.IO.dll" />
      </Component>
      <Component Id="Comp_137">
        <File Id="File_137" Source="./publish/System.IO.FileSystem.AccessControl.dll" />
      </Component>
      <Component Id="Comp_138">
        <File Id="File_138" Source="./publish/System.IO.FileSystem.dll" />
      </Component>
      <Component Id="Comp_139">
        <File Id="File_139" Source="./publish/System.IO.FileSystem.DriveInfo.dll" />
      </Component>
      <Component Id="Comp_140">
        <File Id="File_140" Source="./publish/System.IO.FileSystem.Primitives.dll" />
      </Component>
      <Component Id="Comp_141">
        <File Id="File_141" Source="./publish/System.IO.FileSystem.Watcher.dll" />
      </Component>
      <Component Id="Comp_142">
        <File Id="File_142" Source="./publish/System.IO.IsolatedStorage.dll" />
      </Component>
      <Component Id="Comp_143">
        <File Id="File_143" Source="./publish/System.IO.MemoryMappedFiles.dll" />
      </Component>
      <Component Id="Comp_144">
        <File Id="File_144" Source="./publish/System.IO.Packaging.dll" />
      </Component>
      <Component Id="Comp_145">
        <File Id="File_145" Source="./publish/System.IO.Pipelines.dll" />
      </Component>
      <Component Id="Comp_146">
        <File Id="File_146" Source="./publish/System.IO.Pipes.AccessControl.dll" />
      </Component>
      <Component Id="Comp_147">
        <File Id="File_147" Source="./publish/System.IO.Pipes.dll" />
      </Component>
      <Component Id="Comp_148">
        <File Id="File_148" Source="./publish/System.IO.UnmanagedMemoryStream.dll" />
      </Component>
      <Component Id="Comp_149">
        <File Id="File_149" Source="./publish/System.Linq.AsyncEnumerable.dll" />
      </Component>
      <Component Id="Comp_150">
        <File Id="File_150" Source="./publish/System.Linq.dll" />
      </Component>
      <Component Id="Comp_151">
        <File Id="File_151" Source="./publish/System.Linq.Expressions.dll" />
      </Component>
      <Component Id="Comp_152">
        <File Id="File_152" Source="./publish/System.Linq.Parallel.dll" />
      </Component>
      <Component Id="Comp_153">
        <File Id="File_153" Source="./publish/System.Linq.Queryable.dll" />
      </Component>
      <Component Id="Comp_154">
        <File Id="File_154" Source="./publish/System.Management.dll" />
      </Component>
      <Component Id="Comp_155">
        <File Id="File_155" Source="./publish/System.Memory.dll" />
      </Component>
      <Component Id="Comp_156">
        <File Id="File_156" Source="./publish/System.Net.dll" />
      </Component>
      <Component Id="Comp_157">
        <File Id="File_157" Source="./publish/System.Net.Http.dll" />
      </Component>
      <Component Id="Comp_158">
        <File Id="File_158" Source="./publish/System.Net.Http.Json.dll" />
      </Component>
      <Component Id="Comp_159">
        <File Id="File_159" Source="./publish/System.Net.HttpListener.dll" />
      </Component>
      <Component Id="Comp_160">
        <File Id="File_160" Source="./publish/System.Net.Mail.dll" />
      </Component>
      <Component Id="Comp_161">
        <File Id="File_161" Source="./publish/System.Net.NameResolution.dll" />
      </Component>
      <Component Id="Comp_162">
        <File Id="File_162" Source="./publish/System.Net.NetworkInformation.dll" />
      </Component>
      <Component Id="Comp_163">
        <File Id="File_163" Source="./publish/System.Net.Ping.dll" />
      </Component>
      <Component Id="Comp_164">
        <File Id="File_164" Source="./publish/System.Net.Primitives.dll" />
      </Component>
      <Component Id="Comp_165">
        <File Id="File_165" Source="./publish/System.Net.Quic.dll" />
      </Component>
      <Component Id="Comp_166">
        <File Id="File_166" Source="./publish/System.Net.Requests.dll" />
      </Component>
      <Component Id="Comp_167">
        <File Id="File_167" Source="./publish/System.Net.Security.dll" />
      </Component>
      <Component Id="Comp_168">
        <File Id="File_168" Source="./publish/System.Net.ServerSentEvents.dll" />
      </Component>
      <Component Id="Comp_169">
        <File Id="File_169" Source="./publish/System.Net.ServicePoint.dll" />
      </Component>
      <Component Id="Comp_170">
        <File Id="File_170" Source="./publish/System.Net.Sockets.dll" />
      </Component>
      <Component Id="Comp_171">
        <File Id="File_171" Source="./publish/System.Net.WebClient.dll" />
      </Component>
      <Component Id="Comp_172">
        <File Id="File_172" Source="./publish/System.Net.WebHeaderCollection.dll" />
      </Component>
      <Component Id="Comp_173">
        <File Id="File_173" Source="./publish/System.Net.WebProxy.dll" />
      </Component>
      <Component Id="Comp_174">
        <File Id="File_174" Source="./publish/System.Net.WebSockets.Client.dll" />
      </Component>
      <Component Id="Comp_175">
        <File Id="File_175" Source="./publish/System.Net.WebSockets.dll" />
      </Component>
      <Component Id="Comp_176">
        <File Id="File_176" Source="./publish/System.Numerics.dll" />
      </Component>
      <Component Id="Comp_177">
        <File Id="File_177" Source="./publish/System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="Comp_178">
        <File Id="File_178" Source="./publish/System.ObjectModel.dll" />
      </Component>
      <Component Id="Comp_179">
        <File Id="File_179" Source="./publish/System.Private.CoreLib.dll" />
      </Component>
      <Component Id="Comp_180">
        <File Id="File_180" Source="./publish/System.Private.DataContractSerialization.dll" />
      </Component>
      <Component Id="Comp_181">
        <File Id="File_181" Source="./publish/System.Private.Uri.dll" />
      </Component>
      <Component Id="Comp_182">
        <File Id="File_182" Source="./publish/System.Private.Windows.Core.dll" />
      </Component>
      <Component Id="Comp_183">
        <File Id="File_183" Source="./publish/System.Private.Windows.GdiPlus.dll" />
      </Component>
      <Component Id="Comp_184">
        <File Id="File_184" Source="./publish/System.Private.Xml.dll" />
      </Component>
      <Component Id="Comp_185">
        <File Id="File_185" Source="./publish/System.Private.Xml.Linq.dll" />
      </Component>
      <Component Id="Comp_186">
        <File Id="File_186" Source="./publish/System.Reflection.DispatchProxy.dll" />
      </Component>
      <Component Id="Comp_187">
        <File Id="File_187" Source="./publish/System.Reflection.dll" />
      </Component>
      <Component Id="Comp_188">
        <File Id="File_188" Source="./publish/System.Reflection.Emit.dll" />
      </Component>
      <Component Id="Comp_189">
        <File Id="File_189" Source="./publish/System.Reflection.Emit.ILGeneration.dll" />
      </Component>
      <Component Id="Comp_190">
        <File Id="File_190" Source="./publish/System.Reflection.Emit.Lightweight.dll" />
      </Component>
      <Component Id="Comp_191">
        <File Id="File_191" Source="./publish/System.Reflection.Extensions.dll" />
      </Component>
      <Component Id="Comp_192">
        <File Id="File_192" Source="./publish/System.Reflection.Metadata.dll" />
      </Component>
      <Component Id="Comp_193">
        <File Id="File_193" Source="./publish/System.Reflection.Primitives.dll" />
      </Component>
      <Component Id="Comp_194">
        <File Id="File_194" Source="./publish/System.Reflection.TypeExtensions.dll" />
      </Component>
      <Component Id="Comp_195">
        <File Id="File_195" Source="./publish/System.Resources.Extensions.dll" />
      </Component>
      <Component Id="Comp_196">
        <File Id="File_196" Source="./publish/System.Resources.Reader.dll" />
      </Component>
      <Component Id="Comp_197">
        <File Id="File_197" Source="./publish/System.Resources.ResourceManager.dll" />
      </Component>
      <Component Id="Comp_198">
        <File Id="File_198" Source="./publish/System.Resources.Writer.dll" />
      </Component>
      <Component Id="Comp_199">
        <File Id="File_199" Source="./publish/System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="Comp_200">
        <File Id="File_200" Source="./publish/System.Runtime.CompilerServices.VisualC.dll" />
      </Component>
      <Component Id="Comp_201">
        <File Id="File_201" Source="./publish/System.Runtime.dll" />
      </Component>
      <Component Id="Comp_202">
        <File Id="File_202" Source="./publish/System.Runtime.Extensions.dll" />
      </Component>
      <Component Id="Comp_203">
        <File Id="File_203" Source="./publish/System.Runtime.Handles.dll" />
      </Component>
      <Component Id="Comp_204">
        <File Id="File_204" Source="./publish/System.Runtime.InteropServices.dll" />
      </Component>
      <Component Id="Comp_205">
        <File Id="File_205" Source="./publish/System.Runtime.InteropServices.JavaScript.dll" />
      </Component>
      <Component Id="Comp_206">
        <File Id="File_206" Source="./publish/System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
      <Component Id="Comp_207">
        <File Id="File_207" Source="./publish/System.Runtime.Intrinsics.dll" />
      </Component>
      <Component Id="Comp_208">
        <File Id="File_208" Source="./publish/System.Runtime.Loader.dll" />
      </Component>
      <Component Id="Comp_209">
        <File Id="File_209" Source="./publish/System.Runtime.Numerics.dll" />
      </Component>
      <Component Id="Comp_210">
        <File Id="File_210" Source="./publish/System.Runtime.Serialization.dll" />
      </Component>
      <Component Id="Comp_211">
        <File Id="File_211" Source="./publish/System.Runtime.Serialization.Formatters.dll" />
      </Component>
      <Component Id="Comp_212">
        <File Id="File_212" Source="./publish/System.Runtime.Serialization.Json.dll" />
      </Component>
      <Component Id="Comp_213">
        <File Id="File_213" Source="./publish/System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="Comp_214">
        <File Id="File_214" Source="./publish/System.Runtime.Serialization.Xml.dll" />
      </Component>
      <Component Id="Comp_215">
        <File Id="File_215" Source="./publish/System.Security.AccessControl.dll" />
      </Component>
      <Component Id="Comp_216">
        <File Id="File_216" Source="./publish/System.Security.Claims.dll" />
      </Component>
      <Component Id="Comp_217">
        <File Id="File_217" Source="./publish/System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="Comp_218">
        <File Id="File_218" Source="./publish/System.Security.Cryptography.Cng.dll" />
      </Component>
      <Component Id="Comp_219">
        <File Id="File_219" Source="./publish/System.Security.Cryptography.Csp.dll" />
      </Component>
      <Component Id="Comp_220">
        <File Id="File_220" Source="./publish/System.Security.Cryptography.dll" />
      </Component>
      <Component Id="Comp_221">
        <File Id="File_221" Source="./publish/System.Security.Cryptography.Encoding.dll" />
      </Component>
      <Component Id="Comp_222">
        <File Id="File_222" Source="./publish/System.Security.Cryptography.OpenSsl.dll" />
      </Component>
      <Component Id="Comp_223">
        <File Id="File_223" Source="./publish/System.Security.Cryptography.Pkcs.dll" />
      </Component>
      <Component Id="Comp_224">
        <File Id="File_224" Source="./publish/System.Security.Cryptography.Primitives.dll" />
      </Component>
      <Component Id="Comp_225">
        <File Id="File_225" Source="./publish/System.Security.Cryptography.ProtectedData.dll" />
      </Component>
      <Component Id="Comp_226">
        <File Id="File_226" Source="./publish/System.Security.Cryptography.X509Certificates.dll" />
      </Component>
      <Component Id="Comp_227">
        <File Id="File_227" Source="./publish/System.Security.Cryptography.Xml.dll" />
      </Component>
      <Component Id="Comp_228">
        <File Id="File_228" Source="./publish/System.Security.dll" />
      </Component>
      <Component Id="Comp_229">
        <File Id="File_229" Source="./publish/System.Security.Permissions.dll" />
      </Component>
      <Component Id="Comp_230">
        <File Id="File_230" Source="./publish/System.Security.Principal.dll" />
      </Component>
      <Component Id="Comp_231">
        <File Id="File_231" Source="./publish/System.Security.Principal.Windows.dll" />
      </Component>
      <Component Id="Comp_232">
        <File Id="File_232" Source="./publish/System.Security.SecureString.dll" />
      </Component>
      <Component Id="Comp_233">
        <File Id="File_233" Source="./publish/System.ServiceModel.Web.dll" />
      </Component>
      <Component Id="Comp_234">
        <File Id="File_234" Source="./publish/System.ServiceProcess.dll" />
      </Component>
      <Component Id="Comp_235">
        <File Id="File_235" Source="./publish/System.Text.Encoding.CodePages.dll" />
      </Component>
      <Component Id="Comp_236">
        <File Id="File_236" Source="./publish/System.Text.Encoding.dll" />
      </Component>
      <Component Id="Comp_237">
        <File Id="File_237" Source="./publish/System.Text.Encoding.Extensions.dll" />
      </Component>
      <Component Id="Comp_238">
        <File Id="File_238" Source="./publish/System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="Comp_239">
        <File Id="File_239" Source="./publish/System.Text.Json.dll" />
      </Component>
      <Component Id="Comp_240">
        <File Id="File_240" Source="./publish/System.Text.RegularExpressions.dll" />
      </Component>
      <Component Id="Comp_241">
        <File Id="File_241" Source="./publish/System.Threading.AccessControl.dll" />
      </Component>
      <Component Id="Comp_242">
        <File Id="File_242" Source="./publish/System.Threading.Channels.dll" />
      </Component>
      <Component Id="Comp_243">
        <File Id="File_243" Source="./publish/System.Threading.dll" />
      </Component>
      <Component Id="Comp_244">
        <File Id="File_244" Source="./publish/System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="Comp_245">
        <File Id="File_245" Source="./publish/System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="Comp_246">
        <File Id="File_246" Source="./publish/System.Threading.Tasks.dll" />
      </Component>
      <Component Id="Comp_247">
        <File Id="File_247" Source="./publish/System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="Comp_248">
        <File Id="File_248" Source="./publish/System.Threading.Tasks.Parallel.dll" />
      </Component>
      <Component Id="Comp_249">
        <File Id="File_249" Source="./publish/System.Threading.Thread.dll" />
      </Component>
      <Component Id="Comp_250">
        <File Id="File_250" Source="./publish/System.Threading.ThreadPool.dll" />
      </Component>
      <Component Id="Comp_251">
        <File Id="File_251" Source="./publish/System.Threading.Timer.dll" />
      </Component>
      <Component Id="Comp_252">
        <File Id="File_252" Source="./publish/System.Transactions.dll" />
      </Component>
      <Component Id="Comp_253">
        <File Id="File_253" Source="./publish/System.Transactions.Local.dll" />
      </Component>
      <Component Id="Comp_254">
        <File Id="File_254" Source="./publish/System.ValueTuple.dll" />
      </Component>
      <Component Id="Comp_255">
        <File Id="File_255" Source="./publish/System.Web.dll" />
      </Component>
      <Component Id="Comp_256">
        <File Id="File_256" Source="./publish/System.Web.HttpUtility.dll" />
      </Component>
      <Component Id="Comp_257">
        <File Id="File_257" Source="./publish/System.Windows.dll" />
      </Component>
      <Component Id="Comp_258">
        <File Id="File_258" Source="./publish/System.Windows.Extensions.dll" />
      </Component>
      <Component Id="Comp_259">
        <File Id="File_259" Source="./publish/System.Windows.Forms.Design.dll" />
      </Component>
      <Component Id="Comp_260">
        <File Id="File_260" Source="./publish/System.Windows.Forms.Design.Editors.dll" />
      </Component>
      <Component Id="Comp_261">
        <File Id="File_261" Source="./publish/System.Windows.Forms.dll" />
      </Component>
      <Component Id="Comp_262">
        <File Id="File_262" Source="./publish/System.Windows.Forms.Primitives.dll" />
      </Component>
      <Component Id="Comp_263">
        <File Id="File_263" Source="./publish/System.Xml.dll" />
      </Component>
      <Component Id="Comp_264">
        <File Id="File_264" Source="./publish/System.Xml.Linq.dll" />
      </Component>
      <Component Id="Comp_265">
        <File Id="File_265" Source="./publish/System.Xml.ReaderWriter.dll" />
      </Component>
      <Component Id="Comp_266">
        <File Id="File_266" Source="./publish/System.Xml.Serialization.dll" />
      </Component>
      <Component Id="Comp_267">
        <File Id="File_267" Source="./publish/System.Xml.XDocument.dll" />
      </Component>
      <Component Id="Comp_268">
        <File Id="File_268" Source="./publish/System.Xml.XmlDocument.dll" />
      </Component>
      <Component Id="Comp_269">
        <File Id="File_269" Source="./publish/System.Xml.XmlSerializer.dll" />
      </Component>
      <Component Id="Comp_270">
        <File Id="File_270" Source="./publish/System.Xml.XPath.dll" />
      </Component>
      <Component Id="Comp_271">
        <File Id="File_271" Source="./publish/System.Xml.XPath.XDocument.dll" />
      </Component>
      <Component Id="Comp_272">
        <File Id="File_272" Source="./publish/Velopack.dll" />
      </Component>
      <Component Id="Comp_273">
        <File Id="File_273" Source="./publish/WindowsBase.dll" />
      </Component>
      <Component Id="Comp_274" Subdirectory="cs">
        <File Id="File_274" Source="./publish/cs\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_275" Subdirectory="cs">
        <File Id="File_275" Source="./publish/cs\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_276" Subdirectory="cs">
        <File Id="File_276" Source="./publish/cs\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_277" Subdirectory="cs">
        <File Id="File_277" Source="./publish/cs\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_278" Subdirectory="de">
        <File Id="File_278" Source="./publish/de\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_279" Subdirectory="de">
        <File Id="File_279" Source="./publish/de\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_280" Subdirectory="de">
        <File Id="File_280" Source="./publish/de\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_281" Subdirectory="de">
        <File Id="File_281" Source="./publish/de\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_282" Subdirectory="es">
        <File Id="File_282" Source="./publish/es\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_283" Subdirectory="es">
        <File Id="File_283" Source="./publish/es\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_284" Subdirectory="es">
        <File Id="File_284" Source="./publish/es\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_285" Subdirectory="es">
        <File Id="File_285" Source="./publish/es\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_286" Subdirectory="fr">
        <File Id="File_286" Source="./publish/fr\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_287" Subdirectory="fr">
        <File Id="File_287" Source="./publish/fr\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_288" Subdirectory="fr">
        <File Id="File_288" Source="./publish/fr\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_289" Subdirectory="fr">
        <File Id="File_289" Source="./publish/fr\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_290" Subdirectory="it">
        <File Id="File_290" Source="./publish/it\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_291" Subdirectory="it">
        <File Id="File_291" Source="./publish/it\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_292" Subdirectory="it">
        <File Id="File_292" Source="./publish/it\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_293" Subdirectory="it">
        <File Id="File_293" Source="./publish/it\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_294" Subdirectory="ja">
        <File Id="File_294" Source="./publish/ja\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_295" Subdirectory="ja">
        <File Id="File_295" Source="./publish/ja\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_296" Subdirectory="ja">
        <File Id="File_296" Source="./publish/ja\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_297" Subdirectory="ja">
        <File Id="File_297" Source="./publish/ja\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_298" Subdirectory="ko">
        <File Id="File_298" Source="./publish/ko\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_299" Subdirectory="ko">
        <File Id="File_299" Source="./publish/ko\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_300" Subdirectory="ko">
        <File Id="File_300" Source="./publish/ko\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_301" Subdirectory="ko">
        <File Id="File_301" Source="./publish/ko\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_302" Subdirectory="pl">
        <File Id="File_302" Source="./publish/pl\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_303" Subdirectory="pl">
        <File Id="File_303" Source="./publish/pl\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_304" Subdirectory="pl">
        <File Id="File_304" Source="./publish/pl\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_305" Subdirectory="pl">
        <File Id="File_305" Source="./publish/pl\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_306" Subdirectory="pt-BR">
        <File Id="File_306" Source="./publish/pt-BR\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_307" Subdirectory="pt-BR">
        <File Id="File_307" Source="./publish/pt-BR\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_308" Subdirectory="pt-BR">
        <File Id="File_308" Source="./publish/pt-BR\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_309" Subdirectory="pt-BR">
        <File Id="File_309" Source="./publish/pt-BR\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_310" Subdirectory="ru">
        <File Id="File_310" Source="./publish/ru\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_311" Subdirectory="ru">
        <File Id="File_311" Source="./publish/ru\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_312" Subdirectory="ru">
        <File Id="File_312" Source="./publish/ru\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_313" Subdirectory="ru">
        <File Id="File_313" Source="./publish/ru\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_314" Subdirectory="tr">
        <File Id="File_314" Source="./publish/tr\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_315" Subdirectory="tr">
        <File Id="File_315" Source="./publish/tr\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_316" Subdirectory="tr">
        <File Id="File_316" Source="./publish/tr\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_317" Subdirectory="tr">
        <File Id="File_317" Source="./publish/tr\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_318" Subdirectory="zh-Hans">
        <File Id="File_318" Source="./publish/zh-Hans\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_319" Subdirectory="zh-Hans">
        <File Id="File_319" Source="./publish/zh-Hans\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_320" Subdirectory="zh-Hans">
        <File Id="File_320" Source="./publish/zh-Hans\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_321" Subdirectory="zh-Hans">
        <File Id="File_321" Source="./publish/zh-Hans\System.Windows.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_322" Subdirectory="zh-Hant">
        <File Id="File_322" Source="./publish/zh-Hant\Microsoft.VisualBasic.Forms.resources.dll" />
      </Component>
      <Component Id="Comp_323" Subdirectory="zh-Hant">
        <File Id="File_323" Source="./publish/zh-Hant\System.Windows.Forms.Design.resources.dll" />
      </Component>
      <Component Id="Comp_324" Subdirectory="zh-Hant">
        <File Id="File_324" Source="./publish/zh-Hant\System.Windows.Forms.Primitives.resources.dll" />
      </Component>
      <Component Id="Comp_325" Subdirectory="zh-Hant">
        <File Id="File_325" Source="./publish/zh-Hant\System.Windows.Forms.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
